   <!--Content-->
    <section id="about" class="content-section">
        <!-- Page Content -->
        <div class="container-fluid">

            <div class="row">
                <!-- Services -->
                <div class="col-md-8">
                    <h2 class="h2-responsive blue-grey-text text-center page-header">
                        <div class="panel panel-blue ">
                            <div class="panel-body"> Get a Quote Today<br> 202-234-7775</div>
                        </div>
                    </h2>

                    <p>{{parkingServices.intro}}</p>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-body" ng-repeat="provided in parkingServices.servicesProvided"><i class="fa fa-chevron-right"></i> {{provided.service}}</div>
                        </div>

                    </div>
                    <p>{{parkingServices.text}}</p>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-body" ng-repeat="excellent in parkingServices.excellency"><i class="fa fa-chevron-right"></i> {{excellent.at}}</div>
                        </div>
                    </div>
                    <p>{{parkingServices.conclusion}}</p>
                </div>

                <!-- Sidebar Widgets Column -->
                <div class="col-md-4">
                    <div class="services-sidebar">
                        <!-- Blog Search Well -->

                        <!-- Category widget -->
                        <h4>Services</h4>
                        <div class="collection">
                            <a href="#" class="collection-item active">Parking Services</a>
                            <a href="#" class="collection-item">Apply for Monthly Services</a>
                            <a href="#" class="collection-item">Valet Services</a>
                            <a href="#" class="collection-item">Transportation Services</a>
                            <a href="#" class="collection-item">Health Care Services</a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </section>
