<div class="services-sidebar">
  <!-- Blog Search Well -->

  <!-- Category widget -->
  <h4>Services</h4>
  <div class="collection">
    <a ui-sref="parking-services" class="collection-item">Parking Services</a>
    <a ui-sref="monthly-parking" class="collection-item active" data-toggle="modal" data-target="#loginModal">Apply for Monthly Services</a>
    <a ui-sref="valet-services" class="collection-item">Valet Services</a>
    <a ui-sref="transportation-services" class="collection-item">Transportation Services</a>
    <a ui-sref="healthcare-services" class="collection-item">Health Care Services</a>
  </div>
</div>
