
<!--Content-->
<section id="about" class="content-section">
  <!-- Page Content -->
  <div class="container-fluid">

    <div class="row">
      <!-- Services -->
      <div class="col-md-8">
        <h2 class="h2-responsive blue-grey-text text-center page-header">
          <div class="panel panel-blue ">
            <div class="panel-body"> Download Forms</div>
            <button type="button" class="btn btn-success waves-effect waves-light">Download Monthly Parking Form Here</button>
          </div>
        </h2>

        <p>{{forms.intro}}</p>
        <p>
          <span ng-repeat="fee in forms.list"><i class="fa fa-chevron-right"></i> {{fee.monthlyfee}}<br></span>

        </p>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <side-bar-widget></side-bar-widget>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</section>
